.box_icon{
    border-radius: 10px;
    background-color: rgb(47, 107, 218);
    margin-left: auto;
    margin-top: 5px;
    color: white;
    text-align: center;
}

.timing_box{
    background-color: aquamarine;
    height: 40px;
    margin-top: 5px;    
}

.dropped_items{
    border-radius: 20px;
    background-color:  rgb(61 65 51);
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5px;
}

.dragged_done{
    border-radius: 10px;
    background-color: rgb(148, 175, 224);
    margin-left: auto;
    margin-top: 5px;
    color: white;
    text-align: center;
}



